# ==============================================
# Common SEPolicy Rule
# ==============================================

vndbinder_use(hal_drm_default)

