allow hal_keymaster_default ut_keymaster_device:chr_file { read write open ioctl};

allow hal_keymaster_default teei_client_device:chr_file { read write open ioctl};
allow hal_keymaster_default mobicore_user_device:chr_file { ioctl map open read write };
allow hal_keymaster_default mnt_vendor_file:dir search;
allow hal_keymaster_default persist_data_file:dir search;
