type mtk_hal_usb, domain;
hal_server_domain(mtk_hal_usb, hal_usb)

type mtk_hal_usb_exec, exec_type, file_type, vendor_file_type;
init_daemon_domain(mtk_hal_usb)

r_dir_file(mtk_hal_usb, sysfs_dual_role)
allow mtk_hal_usb sysfs_dual_role:file w_file_perms;
