# ==============================================
# MTK Policy Rule
# =============================================
# Purpose : allow vendor_shell to run aeev
